.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('/index/assets-index/top-score-bg.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
label {
    color: white;
}
#example_info {
    color: white;
}